.product{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid gray;
    padding: 5px;
}
.product .name{
    font-size: 25px;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
}
.product img{
    width: 100%;
}
.product .discount{
    position: absolute;
    right: 5px;
    top: 3px;
    color: #fff;;
    border-radius: 4px;
    border: none;
    background-color: red;
    font-size: 12px;
}
.product .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 15px;
    
}
